.Calc-header {
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  #displaybox{
   inline-size: 9.2cm;
   block-size: 1cm;   

     
  }

  #btn_clr{
  block-size: 1.1cm; 
  inline-size: 3cm;
  margin-left: 0.1cm;
  }

  #calcbody
  {
    background-color: grey;
    border-style:solid;
    border-width: medium;
    width: 12.45cm;
    margin: 0 auto;
  }